*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
Navigation Section
.nav{
    height: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.logo{
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: blue;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}
nav ul li a:hover{
    color: blue;
    transition: 0.5s;
    transform: scale(1.5);
}

registration section
.textfield{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.registration{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.button{
    background-color: blue;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border: 10px solid transparent;
    padding: 0;
    border-radius: 10px;
}
a.btn{
    color: white;
    background-color: blue;
}
h3{
    color: white;
    margin-bottom: 50px;
    font-size: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}